/* .ItemDetail .Container .Card{
    flex-direction: row;
    justify-content: space-between;
} */

.col-4 {
    flex: 0 0 auto;
    width: 60%!important;
}


.card-detail-title{
    font-size: 1.8rem;
    border-radius: 3px;
    border: solid;
    background-color: black;
    color: white;
    margin-bottom: 2rem;
}

.card-detail-category{
    font-size: 1.50rem;
    margin-bottom: 2rem;
}

.card-detail-description{
    font-size: 1.25rem;
    border-radius: 3px;
    border: solid;
    margin-bottom: 2rem;
}

.card-text-price{
    font-size: 1.4rem;
    border-radius: 3px;
    border: solid;
    background-color: black;
    color: white;
    margin-bottom: 1.6rem;
}

.price-detail{
    font-size: 1.6rem;
    border-radius: 3px;
    border: solid;
    margin-bottom: 2rem;
}
