.ItemDetail .Container .Card{
    flex-direction: row;
    justify-content: space-between;
}

.ItemDetail .Container .Card .Card.Img .col-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
}


.ItemDetail .Container .Card .Card.Body .Card.Title .card-title{
    font-size: 2.25rem;
}

.ItemDetail .Container .Card .Card.Body .Card.Text .card-description{
    font-size: 1.25rem;
}

.price-detail{
    border-radius: 3px;
    border: solid;
}
