.card-title {
    font-size: 1.2rem;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 3px;
    border: solid;
    background-color: black;
    color: white;
}

.item-size{
    height: 25rem;
}

.card-category{
    font-size: 1.1rem;
}

.item-button-detail {
    position: absolute;
    width: 100%;
    background: none;
    border: none;
    left: 0;
    box-shadow: none;
    bottom: 15.8rem;
    background: #000000a1;
    color: gray;
    z-index: 0;
    border-radius: 0px;
    
    transition: all 0.3s ease;
}




/* .card-item .item__img-box:hover .item-button-detail {
    opacity: 1;
    bottom: 14rem;
} */

/* .item-button-detail:hover {
    background: black;
    box-shadow: none;
    opacity: 1;
    bottom: 15rem;
}  */


