.card-title {
    font-size: 1rem;
    font-weight: 700;
    padding: 10px 5px;
    margin-bottom: 10px;
    border-radius: 3px;
    border: solid;
    background-color: black;
    color: white;
}

.item-size{
    height: 25rem;
} 

.card-category{
    font-size: 1.2rem;
}

.item-button-detail {
    position: absolute;
    width: 100%;
    background: none;
    border: none;
    left: 0;
    box-shadow: none;
    bottom: 16.9rem;
    background: #000000a1;
    color: gray;
    z-index: 0;
    border-radius: 0px;
    
    transition: all 0.3s ease;
}

.card-all{
    height: 96% !important;
}


