
.img-cart{

    width: 40%;
}

.p-cart{
    margin-top: 2rem;

}

.container-pop{
    display: flex!important;
    justify-content: center !important;
}

.p-pop-cart{
    font-size: 2rem;
    border-radius: 3px;
    border: solid;
    padding: 5px;
    margin-bottom: 2rem;
}

.price-total-cart{
    display: flex;
    justify-content: space-evenly;
    font-size: 1rem;
    border-radius: 3px;
    border: solid;
    margin-bottom: 2rem;
}

.container-button{
    display: flex!important;
    justify-content: end !important;
}

.div-button{
    display: flex;
    flex-direction: column;
}





