
.img-cart{

    width: 40%;
}

.p-cart{
    margin-top: 2rem;

}

.container-pop{
    display: flex!important;
    justify-content: center !important;
}

.p-pop-cart{
    font-size: 2rem;
    border-radius: 3px;
    border: solid;
    padding: 5px;
    margin-bottom: 2rem;
}

.price-total-cart{
    display: flex;
    justify-content: space-evenly;
    font-size: 1rem;
    border-radius: 3px;
    border: solid;
    margin-bottom: 2rem;
}

.container-button{
    display: flex!important;
    justify-content: end !important;
}

.div-button{
    display: flex;
    flex-direction: column;
}

form.form-contact {
    display: flex;
    flex-direction: column;
}

form.form-contact > div {
    margin-bottom: 15px;
}

.order-id{
    font-size: 1.5rem;
}

form.form-contact button {
    background: black;
    border-radius: 40px;
    text-transform: none;
    color: white;
    font-family: 'Lato';
    padding: 10px 20px;
      /* margin-top: 15px; */
    font-size: 14px;cursor: pointer;}





